.favorite__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  padding: 0;

  border-radius: 50%;

  background-color: #f1f6fa;
}

.favorite__btn:hover {
  background-color: #e2e7eb;
}

.favorite__icon {
  fill: var(--txt-primary-color);
}
