.header {
  background-color: #3c5cda;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1140px;

  margin: 0 auto;
  padding: 10px 0;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.logo__light {
  color: var(--txt-light-color);
}

.logo__dark {
  color: var(--txt-primary-color);
}

.nav {
  background-color: #0d0e10;
  border-radius: 16px;
  padding: 14px 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.nav__link {
  padding: 8px 15px;
  color: var(--txt-light-color);
  text-decoration: none;
  border-radius: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav__link:hover,
.nav__link.active {
  background-color: #2d2e33;
}

.nav__icon {
  display: none;
  fill: var(--txt-light-color);
}

.nav__link.active .nav__icon {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
