.hero {
  position: relative;
  background-image: url("/images/hero_bg.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1440px;

  padding: 122px 0 290px 0;

  background-color: #3c5cda;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--txt-light-color);
  line-height: 1.2;

  max-width: 436px;
  margin-bottom: 56px;

  text-transform: capitalize;
}

.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
}

.select {
  background-color: #fff3d1;
  border: none;
  outline: none;

  font-family: var(--font-family);
  font-size: 14px;
  color: var(--txt-primary-color);
  padding: 15px 2px 15px 10px;

  border-right: 10px solid #fff3d1;

  cursor: pointer;

  border-radius: 12px;
}

.hero__input {
  border: none;
  background: transparent;
  outline: none;

  font-size: 16px;
  font-weight: 400;

  color: var(--txt-primary-color);
  width: 340px;
}

.hero__input::placeholder {
  color: #b8b8b8;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 18px;
}

.hero__icon {
  fill: var(--txt-primary-color);
}
