:root {
  --font-family: "Exo 2", sans-serif;
  --btn-primary-color: #ffbe00;
  --btn-hover-color: #e9af00;
  --bg-primary-color: #f2f2ff;
  --txt-primary-color: #2a2a2a;
  --txt-secondary-color: #5a5a5a;
  --txt-light-color: #f4f4f4;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  background-color: var(--bg-primary-color);
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--txt-secondary-color);
  border-radius: 20px;
  border: 3px solid var(--txt-secondary-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}
