.hero {
  position: relative;
  background-image: url("/images/hero_bg.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1440px;

  padding: 122px 0 290px 0;

  background-color: #3c5cda;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--txt-light-color);
  line-height: 1.2;

  max-width: 436px;
  margin-bottom: 56px;

  text-transform: capitalize;
}

.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: var(--bg-primary-color);
  border-radius: 16px;
  padding: 16px;
}

.hero__input {
  border: none;
  background: transparent;
  outline: none;

  font-size: 16px;
  font-weight: 400;

  color: var(--txt-primary-color);
  width: 340px;
}

.hero__input::placeholder {
  color: #b8b8b8;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 18px;
}

.hero__icon {
  fill: var(--txt-primary-color);
}

.featured {
  position: relative;
  padding: 80px 0;
}

.featured__header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;

  margin-bottom: 34px;

  z-index: 2;
}

.featured__title--bg {
  position: absolute;
  top: 32px;
  left: 50%;

  z-index: 1;

  transform: translate(-50%, 0);

  font-size: 164px;
  font-weight: 700;
  line-height: 1;
  color: #eef0fc;

  text-transform: uppercase;
}

.featured__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  max-width: 280px;
}

.featured__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  color: var(--txt-secondary-color);

  max-width: 628px;
}

.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 34px;
}

.featured__btn {
  display: block;
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 12px;

  width: fit-content;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--txt-primary-color);

  cursor: pointer;
  padding: 12px 24px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
}

.featured__btn:hover {
  background-color: var(--btn-hover-color);
}
